.about-page {
  // margin-top: 6vh;
  margin-left: 14px;
  margin-right: 14px;
  border-top: 1px solid #414141;
  min-height: 80vh;
  max-width: 100%;
  font-family: "Noto Sans TC";
  .about-title{

    text-align: center;
    margin-top: 30px;
    letter-spacing: 5px;
    font-size: 1.8rem;
  }
  .about-header{
    width: 80%;
    margin: 30px auto;
    img{
      width: 100%;
      height: auto;
    border-radius: 30px;
    }
  }

  .about-content{
    width: 80%;
    margin: 30px auto;
    line-height: 1.8;
    letter-spacing: 3px;
    font-size: 1rem;
    text-align: justify;
    p{
        margin: 5px 0;
    }
    .eng{
        letter-spacing: 1px !important;
    }
  }
}