.inner-page {
  // margin-top: 6vh;
  margin-left: 14px;
  margin-right: 14px;
  border-top: 1px solid #414141;
  min-height: 80vh;
  max-width: 100%;
  font-family: "Noto Sans TC";
  .content {
    margin-top: 20px;
    .inner-head {
      display: flex;
      justify-content: flex-start;
      align-items: stretch; /* ⭐ 關鍵：讓左右等高 */
      gap: 10px;
      .img {
        width: 200px;
        height: auto;
        img {
          width: 100%;
          height: auto;
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        justify-content: space-between; /* ⭐ 上下貼齊 */
        align-items: flex-start;
        .top {
          letter-spacing: 2px;
          h1 {
            font-weight: 400;
            font-size: 1.5rem;
          }
          h2 {
            font-weight: 400;
            font-size: 1rem;
            font-family: "Noto Sans TC";
          }
        }
      }
      .bottom {
        p {
          font-size: 0.9rem;
          font-family: "Noto Sans TC";
          letter-spacing: 1.5px;
          margin-bottom: 0 !important;
          color: #686868;
        }
        .cal {
        }
        .hashtag {
        }
      }
    }
    .inner-body {
      .describe {
        margin: 30px 0;
        letter-spacing: 1px;
        text-align: justify;
        P {
          color: #676767;
        }
      }
      .more-info {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        justify-content: center;
        color: #414141;
        .btm-icon {
          svg {
            width: 30px;
            height: 30px;
            margin-bottom: 10px;
          }
        }
        p {
          font-size: 1.5rem;
          letter-spacing: 1.5px;
        }
      }
      .info-img{
        margin-top: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        margin-bottom: 100px;
        .kCal-img{
            width: 300px;
            height: auto;
        }
        .ingr-img{
            width: 300px;
            height: auto;
        }
      }
    }
  }
}
