.notfound-pageA {
  min-height: 75vh;
  max-width: 100%;
  padding: 56px 18px 64px;
  border-top: 1px solid #414141;
  color: #1f1f1f;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  .notfound-titleA {
    font-size: 10em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #3c3c3c;
  }
  .notfound-subtitleA{
    font-size: 1.5em;
    font-weight: 900;
    letter-spacing: 2px;
    color: #6a6a6a;
    line-height: 1.7;
    text-align: center;
    text-decoration: none;
    max-width: 520px;
  }
}
